.navigationBar {
	background-color: #d65847;
	grid-area: navigationBar;
}

.ul {
	display: grid;
	grid-area: ul;
}

.ul li {
	display: inline-block;
}

@import './../../SearchBar/css/style.module.scss';
@import './../../Profile/css/style.module.scss';
