.navigationBar {
	background-color: aquamarine;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-areas: 'searchBar ul profile';
}

.ul {
	grid-area: ul;
}

@import './../../SearchBar/css/style.module.scss';
@import './../../Profile/css/style.module.scss';
