* {
	margin: 0;
	padding: 0;
}

.app {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
		'navigationBar navigationBar navigationBar'
		'profileShortInfo postMessage newsFeed'
		'suggestions posts newsFeed';
}

@import './components/NavigationBar/css/style.scss';
@import './components/NewsFeed/css/style.scss';
@import './components/PostMessage/css/style.scss';
@import './components/Posts/css/style.scss';
@import './components/ProfileShortInfo/css/style.scss';
@import './components/Suggestions/css/style.scss';
